@keyframes turn {
    from {
      transform: rotate3d(0, 0, 0, 0);
    }
    to {
      transform: rotate3d(1, 1, 0, 360deg);
    }
  }
  
  .container {
    width: 200px;
    height: 200px;
    perspective: 500px;
    margin: 100px;
  }
  
  .cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: turn 5s linear infinite;
  }
  
  .face {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    transition: transform 500ms;
  }
  
  .front {
    transform: translateZ(100px);
    background-color: red;
  }
  
  .back {
    transform: translateZ(-100px) rotateY(180deg);
    background-color: rgb(255, 247, 0);
  }
  
  .left {
    transform: translateX(-100px) rotateY(-90deg);
    background-color: rgb(0, 255, 200);
  }
  
  .right {
    transform: translateX(100px) rotateY(90deg);
    background-color: rgb(255, 0, 255);
  }
  
  .top {
    transform: translateY(-100px) rotateX(90deg);
    background-color: rgb(0, 110, 255);
  }
  
  .bottom {
    transform: translateY(100px) rotateX(-90deg);
    background-color: green;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .cube {
      animation: none;
      transform: rotate3d(1, 1, 0, 45deg);
    }
  }