p:empty {
    display: block;
    margin: 15px;
    padding: 10px;
}
p:nth-child(2n) {
    color: red !important
    ;
}
div > p:nth-of-type(2n) {
    color: green;
} 
/* p::before {
    content: "--";
} */
p::first-line {
    color: purple;
}
p {
    text-indent: 50px;
    text-transform: lowercase;
}
p::first-letter {
    text-transform: uppercase;
}